body {
  margin: 0;
}

section {
  margin-top: 38px;
  border-radius: 14px;
  padding: 22px 20px;
  font-size: 1.13em;
  box-shadow: 0 2px 16px rgba(221, 45, 74, 0.12);
  color: #333;
  position: relative;
}
section h2 {
  margin-top: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: #880d1e;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.contact-form input,
.contact-form textarea {
  padding: 9px 14px;
  border: 2px solid #ffb6c1;
  border-radius: 8px;
  outline: none;
  font-size: 1em;
  background: #fff9fb;
  font-family: inherit;
  resize: none;
  transition: border 0.2s;
}
.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #dd2d4a;
}
.contact-form button {
  background: #880d1e;
  color: #fff;
  padding: 12px 10px;
  border: none;
  border-radius: 20px;
  font-weight: 500px;
  font-size: 18px;
  cursor: pointer;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  transition: background 0.2s;
  margin-bottom: 30px;
  margin-right: 750px;
}
.contact-form button:hover {
  background: #f26a8d;
  color: #880d1e;
}
